#container {
  height: 100%;
  width: 100%;
  display: flex;
  /*overflow: hidden;*/
  background-color: white;
  color: white;
}

.camdiv {
 
  margin-right: 10px;

 
}

.mainCam {
  position: absolute;
  /*top:60px;*/
  padding-left: 20px;
  width:1080px;
  height:720px;

  z-index: -3;
  border: 2px solid white;
}

.secondCam {
  position: absolute;
  left: 1100px;
  width: 240px;
  height: 240px;
  
}
.mainCamCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /*background-color:rgba(255,0,0,0.5);*/
}
